@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.bg-primary-dark {
    background: #2a3d5e !important;
}

@media (min-width: 992px) {
    .navbar-collapse {
        display: flex !important;
    }
}

.dropdown-container {
    position: relative;
    z-index: 9999 !important;
}

.bg-white.shadow-sm {
    padding-top: 20px !important;
}

.sticky-header {
    position: sticky;
    top: 80px;
    z-index: 1200;
    background: white;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
}

#claimTable table thead th {
    position: sticky;
    top: 140px;
    z-index: 1300;
}

.table-responsive {
    display: block !important;
    width: 100% !important;
    overflow-x: auto !important;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
}

.flex-grow,
.w-full {
    height: auto !important;
}

/* Mobile*/
@media (max-width: 768px) {
    .sticky-header {
        top: 70px;
        padding: 12px 0;
        font-size: 18px;
    }

    #claimTable table thead th {
        top: 125px;
        font-size: 12px;
        padding: 6px;
    }
}

#claimTable table thead th,
#claimTable table.table thead th,
#claimTable table.table thead th.bg-primary-dark {
    background: #000 !important;
    color: #fff !important;
    background-image: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: table-cell;
}
