@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@media (min-width: 992px) {
    .navbar-collapse {
        display: flex !important;
    }
}

.dropdown-container {
    position: relative;
    z-index: 9999 !important;
}

/* REMOVE BIG TOP SPACING */
.bg-white.shadow-sm.h-full {
    padding-top: 0 !important;
}

.table-responsive {
    display: block !important;
    width: 100% !important;
    overflow: visible !important;
}

.sticky-header {
    position: sticky;
    top: 65px; /* below navbar */
    z-index: 1100;
    background: white;
}

/* STICKY TABLE HEADER */
#piutangTable table thead th {
    position: sticky;
    top: 110px; /* below navbar + title */
    z-index: 1200;
    background: white;
}
