@import "bootstrap/scss/bootstrap";
// @import "../css/app.css";

@import "bootstrap-icons/font/bootstrap-icons.css";

@media (min-width: 992px) {
    .navbar-collapse {
        display: flex !important;
    }
}

.dropdown-container {
    position: relative;
    z-index: 9999 !important;
}

/* Hide scrollbar on main scroll containers */
.table-responsive,
.table-scroll-wrapper {
    max-height: 70vh !important;
    overflow-y: scroll !important;

    /* Firefox */
    scrollbar-width: none !important;

    /* IE/old Edge */
    -ms-overflow-style: none !important;
}

/* Chrome, Safari, New Edge */
.table-responsive::-webkit-scrollbar,
.table-scroll-wrapper::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

.sticky-header {
    position: sticky;
    top: 60px; /* Sit below navbar */
    z-index: 1100;
    background: white;
    padding: 6px 0;
}

thead {
    position: sticky;
    top: 120px; /* below header */
    background: white;
    z-index: 1100;
}
