@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@media (min-width: 992px) {
    .navbar-collapse {
        display: flex !important;
    }
}

.dropdown-container {
    position: relative;
    z-index: 9999 !important;
}

.table-responsive {
    display: table; /* IMPORTANT */
    width: 100%;
    overflow: visible !important;
}

/* REMOVE BIG TOP SPACING */
.bg-white.shadow-sm.h-full {
    padding-top: 0 !important;
}

/* Sticky title JUST under navigation */
.sticky-header {
    position: sticky;
    top: 65px; /* navbar height */
    z-index: 1100;
    background: white;
    padding: 8px 0; /* reduce vertical space */
}

/* Sticky table header directly below sticky title */
table thead th {
    position: sticky;
    top: 110px;
    z-index: 1200;
    background: white;
}
