@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@media (min-width: 992px) {
    .navbar-collapse {
        display: flex !important;
    }
}

.dropdown-container {
    position: relative;
    z-index: 9999 !important;
}

.table-responsive {
    display: table; /* IMPORTANT */
    width: 100%;
    overflow: visible !important;
}

/* Sticky page section title */
.sticky-header {
    position: sticky;
    top: 70px; /* below navbar */
    z-index: 1100;
    background: white;
}

/* Sticky table header */
table thead th {
    position: sticky;
    top: 120px; /* below sticky header */
    z-index: 1200;
    background: white;
}
